.maindiv{
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    height: 100vh;
    width:0;
    transition:1s;
}
button{
    margin:10px;
}
ul{
    text-align: center;
}
li{
    list-style-type: none;
    margin:50px;
    color:white;
    font-size:40px;
    display:none;
}